backports.entry-points-selectable==1.1.1; python_version >= "2.7" and python_full_version >= "3.6.1"
cfgv==3.3.1; python_full_version >= "3.6.1"
distlib==0.3.3; python_full_version >= "3.6.1"
filelock==3.4.0; python_version >= "3.6" and python_full_version >= "3.6.1"
identify==2.4.0; python_full_version >= "3.6.1"
nodeenv==1.6.0; python_full_version >= "3.6.1"
platformdirs==2.4.0; python_version >= "3.6" and python_full_version >= "3.6.1"
pre-commit==2.15.0; python_full_version >= "3.6.1"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
six==1.16.0; python_full_version >= "3.6.1"
toml==0.10.2; python_full_version >= "3.6.1"
virtualenv==20.10.0; python_full_version >= "3.6.1"
